#background {
  height: 100vh;
  background-image: url("../public/cryptography2.jpg") ;
  /* lazy rendering */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#background .nextBTN {
  
  color: #fff;
  font-size: clamp(16px, 2vw, 22px);
  letter-spacing: 2px;
  width: 100%;
  height:100%;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 2px #000;
  
}
